In [1]:
import pandas as pd
import os
import numpy as np
import statistics
from datetime import datetime

In [2]:
#Se lee las cabeceras necesarios para los archivos de las actividades de las sesiones
data = pd.read_csv('cabeceras.txt', sep=' ', header=None)
cabeceras = data[1].values.tolist()
print(cabeceras)

['session', 'student_Id', 'exercise', 'activity', 'start_time', 'end_time', 'idle_time', 'mouse_wheel', 'mouse_wheel_click', 'mouse_click_left', 'mouse_click_right', 'mouse_movement', 'keystroke']

In [3]:
#Se lee el archivo de los logs para poder obtener la información de las actividades si el estudiante ha estado en la session
sesiones = pd.read_csv('logs.txt', sep='\t')
sesiones

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,1,1,1,0,1,1,1
1,2,1,1,1,1,1,1
2,3,0,1,1,1,1,0
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1
...,...,...,...,...,...,...,...
110,111,1,0,0,0,0,0
111,112,1,0,0,0,0,0
112,113,1,0,0,0,0,0
113,114,1,0,0,0,0,0
114,115,1,0,0,0,0,0

In [4]:
archivo = pd.read_csv('Session 1/1', header=None, names=cabeceras)
pruebaArchivo = pd.read_csv('Session 1/4',header=None,names=cabeceras)
valor = len(archivo)+len(pruebaArchivo)
archivo.append(pruebaArchivo)
#pruebaArchivo
archivo

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,1,1,Es_1_2,TextEditor,2.10.2014 13:25:3,2.10.2014 13:25:12,2542,0,0,5,2,567,4
587,1,1,Es_1_2,Other,2.10.2014 13:25:13,2.10.2014 13:25:15,32,0,0,5,0,284,0
588,1,1,Es_1_2,Blank,2.10.2014 13:25:16,2.10.2014 13:25:16,0,0,0,2,0,56,0
589,1,1,Es_1_2,Aulaweb,2.10.2014 13:25:17,2.10.2014 13:25:21,16,0,0,8,0,276,0
590,1,1,Es_1_2,Aulaweb,2.10.2014 13:25:22,2.10.2014 13:25:26,0,2,0,0,0,269,0

In [5]:
notas = pd.read_csv('notasCurso.csv')
#notas.loc[:, ['tip', 'sex', 'day']]


prueba=notas[notas['ID'] == 1]
#print(prueba['Session 2'][0])
notas.describe()

,ID,Session 2,Session 3,Session 4,Session 5,Session 6,Nota primera oportunidad,Nota segunda oportunidad
count,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,115.00000,115.000000
mean,58.000000,2.886957,2.134783,3.943478,3.030435,1.695652,27.16087,26.826087
std,33.341666,2.093286,1.545114,1.531490,1.485732,1.219713,35.44427,31.381778
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,29.500000,0.000000,0.500000,4.000000,3.000000,0.125000,0.00000,0.000000
50%,58.000000,3.500000,2.500000,4.500000,3.500000,2.000000,0.00000,17.000000
75%,86.500000,4.500000,3.500000,5.000000,4.000000,2.750000,64.25000,48.500000
max,115.000000,6.000000,4.000000,5.000000,4.000000,4.000000,98.00000,97.500000

In [6]:
existeArchivoSesion1=False
existeArchivoSesion2=False
existeArchivoSesion3=False
existeArchivoSesion4=False
existeArchivoSesion5=False
existeArchivoSesion6=False
columnas = ['session', 'student_Id', 'activity', 'idle_time','start_time','end_time']

for index, row in sesiones.iterrows(): 
    recolectaDatos = {}

    pathArchivo = 'Session 2/'+str(row['Student Id'])
    if (os.path.isfile(pathArchivo)):
        session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
        estudiante = session[columnas]
        datosEstudiante = {}
        for indice, fila in estudiante.iterrows():
            clave = ((fila['activity']).split("_")[0].strip()).capitalize()          
            if (fila['activity'].strip() in recolectaDatos):
                recolectaDatos[clave].append(1)
            else:
                recolectaDatos[clave] = []
                recolectaDatos[clave].append(1)    

        datosEstudiante['Sesion'] = fila['session']
        datosEstudiante['Id'] = fila['student_Id']
        
        for key in recolectaDatos:
            datosEstudiante[key] = [np.sum(recolectaDatos[key])]
        
        if (('Fsm' in recolectaDatos)==False):
            datosEstudiante['Fsm'] = 0
        
        
        prueba=notas[notas['ID'] == fila['student_Id']]
        datosEstudiante['Nota']=round((prueba['Session 2'])*(5/6))
        tmp = pd.DataFrame(datosEstudiante)
        if (existeArchivoSesion2==False):
            sesion2 = pd.DataFrame(datosEstudiante)
            existeArchivoSesion2 = True
        else:
            frames = [sesion2,tmp]
            sesion2 = pd.concat(frames)
                

                
    
    pathArchivo = 'Session 3/'+str(row['Student Id'])
    if (os.path.isfile(pathArchivo)):
        session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
        estudiante = session[columnas]
        datosEstudiante = {}

        for indice, fila in estudiante.iterrows():
            clave = ((fila['activity']).split("_")[0].strip()).capitalize()          
            if (fila['activity'].strip() in recolectaDatos):
                recolectaDatos[clave].append(1)
            else:
                recolectaDatos[clave] = []
                recolectaDatos[clave].append(1)    

        datosEstudiante['Sesion'] = fila['session']
        datosEstudiante['Id'] = fila['student_Id']
        
        for key in recolectaDatos:
            datosEstudiante[key] = [np.sum(recolectaDatos[key])]

        if (('Fsm' in recolectaDatos)==False):
            datosEstudiante['Fsm'] = 0
        
        prueba=notas[notas['ID'] == fila['student_Id']]
        datosEstudiante['Nota']=round((prueba['Session 3'])*(5/4))
        tmp = pd.DataFrame(datosEstudiante)
        if (existeArchivoSesion3==False):
            sesion3 = pd.DataFrame(datosEstudiante)
            existeArchivoSesion3 = True
        else:
            frames = [sesion3,tmp]
            sesion3 = pd.concat(frames)

                
    pathArchivo = 'Session 4/'+str(row['Student Id'])
    if (os.path.isfile(pathArchivo)):
        session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
        estudiante = session[columnas]
        datosEstudiante = {}

        for indice, fila in estudiante.iterrows():
            clave = ((fila['activity']).split("_")[0].strip()).capitalize()          
            if (fila['activity'].strip() in recolectaDatos):
                recolectaDatos[clave].append(1)
            else:
                recolectaDatos[clave] = []
                recolectaDatos[clave].append(1)    

        datosEstudiante['Sesion'] = fila['session']
        datosEstudiante['Id'] = fila['student_Id']
        
        for key in recolectaDatos:
            datosEstudiante[key] = [np.sum(recolectaDatos[key])]



        if (('Fsm' in recolectaDatos)==False):
            datosEstudiante['Fsm'] = 0
        
        prueba=notas[notas['ID'] == fila['student_Id']]
        datosEstudiante['Nota']=round(prueba['Session 4'])
        tmp = pd.DataFrame(datosEstudiante)
        if (existeArchivoSesion4==False):
            sesion4 = pd.DataFrame(datosEstudiante)
            existeArchivoSesion4 = True
        else:
            frames = [sesion4,tmp]
            sesion4 = pd.concat(frames)
            


                
                
    pathArchivo = 'Session 5/'+str(row['Student Id'])
    if (os.path.isfile(pathArchivo)):
        session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
        estudiante = session[columnas]
        datosEstudiante = {}
        for indice, fila in estudiante.iterrows():
            clave = ((fila['activity']).split("_")[0].strip()).capitalize()          
            if (fila['activity'].strip() in recolectaDatos):
                recolectaDatos[clave].append(1)
            else:
                recolectaDatos[clave] = []
                recolectaDatos[clave].append(1)    

        datosEstudiante['Sesion'] = fila['session']
        datosEstudiante['Id'] = fila['student_Id']
        
        for key in recolectaDatos:
            datosEstudiante[key] = [np.sum(recolectaDatos[key])]

        if (('Fsm' in recolectaDatos)==False):
            datosEstudiante['Fsm'] = 0
        
        prueba=notas[notas['ID'] == fila['student_Id']]
        datosEstudiante['Nota']=round((prueba['Session 5'])*(5/4))
        tmp = pd.DataFrame(datosEstudiante)
        if (existeArchivoSesion5==False):
            sesion5 = pd.DataFrame(datosEstudiante)
            existeArchivoSesion5 = True
        else:
            frames = [sesion5,tmp]
            sesion5 = pd.concat(frames)
                
                
    pathArchivo = 'Session 6/'+str(row['Student Id'])
    if (os.path.isfile(pathArchivo)):
        session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
        estudiante = session[columnas]
        datosEstudiante = {}
        for indice, fila in estudiante.iterrows():
            clave = ((fila['activity']).split("_")[0].strip()).capitalize()          
            if (fila['activity'].strip() in recolectaDatos):
                recolectaDatos[clave].append(1)
            else:
                recolectaDatos[clave] = []
                recolectaDatos[clave].append(1)    

        datosEstudiante['Sesion'] = fila['session']
        datosEstudiante['Id'] = fila['student_Id']
        
        for key in recolectaDatos:
            datosEstudiante[key] = [np.sum(recolectaDatos[key])]
        if (('Fsm' in recolectaDatos)==False):
            datosEstudiante['Fsm'] = 0
        
        prueba=notas[notas['ID'] == fila['student_Id']]
        datosEstudiante['Nota']=round((prueba['Session 6'])*(5/4))
        tmp = pd.DataFrame(datosEstudiante)
        if (existeArchivoSesion6==False):
            sesion6 = pd.DataFrame(datosEstudiante)
            existeArchivoSesion6 = True
        else:
            frames = [sesion6,tmp]
            sesion6 = pd.concat(frames)

In [7]:
sesion6.describe()

,Sesion,Id,Study,Deeds,Texteditor,Blank,Diagram,Properties,Other,Aulaweb,Fsm,Nota
count,84.0,84.000000,81.0,84.000000,84.0,84.000000,84.000000,84.000000,84.000000,81.000000,84.0,84.000000
mean,6.0,53.023810,1.0,1.011905,1.0,213.500000,191.583333,204.285714,279.809524,68.456790,1.0,2.726190
std,0.0,30.143423,0.0,0.109109,0.0,101.118742,53.204812,58.907436,115.350328,31.460709,0.0,1.079393
min,6.0,1.000000,1.0,1.000000,1.0,33.000000,67.000000,97.000000,87.000000,5.000000,1.0,0.000000
25%,6.0,27.750000,1.0,1.000000,1.0,139.000000,157.750000,157.500000,194.250000,44.000000,1.0,2.000000
50%,6.0,53.500000,1.0,1.000000,1.0,203.500000,190.500000,205.000000,260.000000,68.000000,1.0,3.000000
75%,6.0,79.250000,1.0,1.000000,1.0,275.500000,220.250000,235.000000,334.750000,87.000000,1.0,4.000000
max,6.0,104.000000,1.0,2.000000,1.0,583.000000,333.000000,348.000000,650.000000,141.000000,1.0,5.000000

In [8]:
sesion2.fillna(0,inplace=True)
sesion3.fillna(0,inplace=True)
sesion4.fillna(0,inplace=True)
sesion5.fillna(0,inplace=True)
sesion6.fillna(0,inplace=True)

In [9]:
sesion6.describe()

,Sesion,Id,Study,Deeds,Texteditor,Blank,Diagram,Properties,Other,Aulaweb,Fsm,Nota
count,84.0,84.000000,84.000000,84.000000,84.0,84.000000,84.000000,84.000000,84.000000,84.000000,84.0,84.000000
mean,6.0,53.023810,0.964286,1.011905,1.0,213.500000,191.583333,204.285714,279.809524,66.011905,1.0,2.726190
std,0.0,30.143423,0.186691,0.109109,0.0,101.118742,53.204812,58.907436,115.350328,33.426594,0.0,1.079393
min,6.0,1.000000,0.000000,1.000000,1.0,33.000000,67.000000,97.000000,87.000000,0.000000,1.0,0.000000
25%,6.0,27.750000,1.000000,1.000000,1.0,139.000000,157.750000,157.500000,194.250000,41.750000,1.0,2.000000
50%,6.0,53.500000,1.000000,1.000000,1.0,203.500000,190.500000,205.000000,260.000000,67.500000,1.0,3.000000
75%,6.0,79.250000,1.000000,1.000000,1.0,275.500000,220.250000,235.000000,334.750000,86.250000,1.0,4.000000
max,6.0,104.000000,1.000000,2.000000,1.0,583.000000,333.000000,348.000000,650.000000,141.000000,1.0,5.000000

In [10]:
#Escribiendo los archivos de para cada sesión
sesion2.to_csv('./Interacciones/Interaccion_sesion2.csv', index=False, header=True,sep=',')
sesion3.to_csv('./Interacciones/Interaccion_sesion3.csv', index=False, header=True,sep=',')
sesion4.to_csv('./Interacciones/Interaccion_sesion4.csv', index=False, header=True,sep=',')
sesion5.to_csv('./Interacciones/Interaccion_sesion5.csv', index=False, header=True,sep=',')
sesion6.to_csv('./Interacciones/Interaccion_sesion6.csv', index=False, header=True,sep=',')

## Probando como sacar la diferencia de los segundos en python

In [11]:
from datetime import datetime


dt_obj = datetime.strptime('20.11.2014 12:21:48','%d.%m.%Y %H:%M:%S')

dt_obj1= datetime.strptime('20.11.2014 12:21:49','%d.%m.%Y %H:%M:%S')

res = dt_obj1-dt_obj
value = res.total_seconds()
print(round(value,3))

1.0