In [1]:
import pandas as pd
import os
import numpy as np
import statistics

In [2]:
#Se lee las cabeceras necesarios para los archivos de las actividades de las sesiones
data = pd.read_csv('cabeceras.txt', sep=' ', header=None)
cabeceras = data[1].values.tolist()
print(cabeceras)

['session', 'student_Id', 'exercise', 'activity', 'start_time', 'end_time', 'idle_time', 'mouse_wheel', 'mouse_wheel_click', 'mouse_click_left', 'mouse_click_right', 'mouse_movement', 'keystroke']

In [3]:
#Se lee el archivo de los logs para poder obtener la información de las actividades si el estudiante ha estado en la session
sesiones = pd.read_csv('logs.txt', sep='\t')
sesiones

,Student Id,Session 1,Session 2,Session 3,Session 4,Session 5,Session 6
0,1,1,1,0,1,1,1
1,2,1,1,1,1,1,1
2,3,0,1,1,1,1,0
3,4,1,1,1,1,1,1
4,5,1,1,1,1,1,1
...,...,...,...,...,...,...,...
110,111,1,0,0,0,0,0
111,112,1,0,0,0,0,0
112,113,1,0,0,0,0,0
113,114,1,0,0,0,0,0
114,115,1,0,0,0,0,0

In [4]:
archivo = pd.read_csv('Session 1/1', header=None, names=cabeceras)
pruebaArchivo = pd.read_csv('Session 1/4',header=None,names=cabeceras)
valor = len(archivo)+len(pruebaArchivo)
archivo.append(pruebaArchivo)
#pruebaArchivo
archivo

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,1,1,Es_1_2,TextEditor,2.10.2014 13:25:3,2.10.2014 13:25:12,2542,0,0,5,2,567,4
587,1,1,Es_1_2,Other,2.10.2014 13:25:13,2.10.2014 13:25:15,32,0,0,5,0,284,0
588,1,1,Es_1_2,Blank,2.10.2014 13:25:16,2.10.2014 13:25:16,0,0,0,2,0,56,0
589,1,1,Es_1_2,Aulaweb,2.10.2014 13:25:17,2.10.2014 13:25:21,16,0,0,8,0,276,0
590,1,1,Es_1_2,Aulaweb,2.10.2014 13:25:22,2.10.2014 13:25:26,0,2,0,0,0,269,0

In [5]:
existeArchivoSesion1=False
existeArchivoSesion2=False
existeArchivoSesion3=False
existeArchivoSesion4=False
existeArchivoSesion5=False
existeArchivoSesion6=False
columnas = ['session', 'student_Id', 'activity', 'idle_time']
recolectaDatos = {}
for index, row in sesiones.iterrows(): 
    
    if (row['Session 1']==1):
        pathArchivo = 'Session 1/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)

    if (row['Session 2']==1):
        pathArchivo = 'Session 2/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
      

    if (row['Session 3']==1):
        pathArchivo = 'Session 3/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                    
    if (row['Session 4']==1):
        pathArchivo = 'Session 4/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                    
                    
    if (row['Session 5']==1):
        pathArchivo = 'Session 5/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                    
                    
                    
    if (row['Session 6']==1):
        pathArchivo = 'Session 6/'+str(row['Student Id'])
        if (os.path.isfile(pathArchivo)):
            session = pd.read_csv(pathArchivo, header=None, names=cabeceras)
            estudiante = session[columnas]
            
            for indice, fila in estudiante.iterrows():
                clave = (fila['activity']).split("_")[0].strip()
                idEstudiante = fila['student_Id']
                if (fila[idEstudiante].strip() in recolectaDatos[idEstudiante]):
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)
                else:
                    recolectaDatos[idEstudiante][clave] = []
                    recolectaDatos[idEstudiante][clave].append(fila['idle_time']/1000)

AttributeError: 'int' object has no attribute 'strip'

In [6]:
sesion1.fillna(0,inplace=True)
sesion2.fillna(0,inplace=True)
sesion3.fillna(0,inplace=True)
sesion4.fillna(0,inplace=True)
sesion5.fillna(0,inplace=True)
sesion6.fillna(0,inplace=True)

In [7]:
sesion1

,session,student_Id,Md_Other,Ds_Other,Md_Aulaweb,Ds_Aulaweb,Md_Blank,Ds_Blank,Md_Deeds,Md_Study,Md_Properties,Ds_Properties,Md_Diagram,Ds_Diagram,Md_TextEditor,Ds_TextEditor,Md_Fsm
0,1,1,7.570,42.430,121.584,619.629,0.333,1.832,0.032,0.893,2.205,6.749,1630.538,4252.286,1.852,3.373,0.000
0,1,2,24.344,132.907,8.230,18.128,0.320,1.013,0.000,7.409,3.144,5.781,930.652,2856.286,2.028,0.000,0.000
0,1,4,26.295,108.192,10.378,27.283,0.576,1.883,0.016,0.000,2.471,4.014,158.918,495.603,0.468,0.000,0.000
0,1,5,9.689,62.886,26.587,103.875,71.517,606.956,0.531,0.000,5.284,20.480,319.984,852.335,0.268,0.000,0.000
0,1,7,18.630,70.724,0.062,0.167,0.251,0.927,113.754,0.234,0.841,1.953,1360.329,5252.034,4.127,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,111,50.171,384.536,2.621,8.260,2.077,19.025,0.000,0.000,0.728,2.860,271.608,1493.972,4.187,0.000,0.878
0,1,112,191.599,1109.752,7.518,20.412,6.477,29.705,0.000,0.000,0.732,2.502,1439.185,5535.817,61.481,0.000,0.000
0,1,113,17.057,98.037,3.574,12.698,3.104,11.002,0.048,8.927,1.285,2.482,1116.899,2226.539,63.435,0.000,0.000
0,1,114,25.911,185.633,95.781,534.515,2.160,11.725,0.015,0.109,0.675,1.632,507.463,1971.772,0.000,0.000,0.000
0,1,115,50.762,427.657,30.084,55.346,3.507,15.641,0.547,1.951,0.556,1.256,650.613,1333.025,14.546,0.000,0.000

In [8]:
#Escribiendo los archivos de para cada sesión
sesion1.to_csv('sesion1.csv', index=False, header=True,sep=',')
sesion2.to_csv('sesion2.csv', index=False, header=True,sep=',')
sesion3.to_csv('sesion3.csv', index=False, header=True,sep=',')
sesion4.to_csv('sesion4.csv', index=False, header=True,sep=',')
sesion5.to_csv('sesion5.csv', index=False, header=True,sep=',')
sesion6.to_csv('sesion6.csv', index=False, header=True,sep=',')

In [9]:
A_rank=[0.8,0.4,1.2,3.7,2.6,5.8]
B_rank=[0.1,2.8,3.7,2.6,5,3.4]
C_Rank=[1.2,3.4,0.5,0.1,2.5,6.1]

statistics.stdev(A_rank)

2.0634114147853952